<section class="card">
  <div class="card-body">
 
    <p>
      <br><br>
<center><h2>¿QUIENES SOMOS?</h2></center>

 <br>
<br>
<br>
<img src="img/logo.png" alt="Logo" class="logo">

<h2>MISIÓN</h2>

Somos una serie de colaboradores Freelance que buscan safistacer la necesidad digital de todos los hogares peruanos en
general, cumpliendo con los standares locales y con una atención personalizada, asesorandolo en todo momento.
<br>
<br>
<br>

<h2>VISIÓN</h2>

Queremos lograr ser una consultora de Servicios TI, enfocada en ayudar a la transformación digital de nuestro pais, asi
como enseñar el uso de la tecnológia por medio de bootcamps.

    </p>
  </div>

  <center><img src="clasejavascript.png" width="30%" alt="Logo" ></center>



</section>
