<div class="card card-body p-5 mt-4">
  <h1 class="display-4">APP WEB NEKO CREATIVO!</h1>
  <p class="lead">APP DE TICKETS, POSTULACIONES PARA UNA EMPRESA <br>CON LOGIN Y AUTORIZACIÓN
    TECNOLOGIAS USADAS:<br><br>
    {nodejs}<br>{Express}<br>{MongoDB}<br>{Handlebars}<br>{Bootstrap}</p>
  
  <hr class="my-4" />
  <p>Registro de nuevos usuarios
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrate</a>
  </div>
</div>